page-custom-box {
    .back-bt {
        position: absolute;
        top: 20px;
        z-index: 100;
        width: 100px;
        height: 24px;
        background: transparent;
        cursor: pointer;
        font-weight: bold;
        text-align: right;
        padding: 4px 10px;
    }
    .cart-bt {
        position: absolute;
        top: 7px;
        right: 70px;
        z-index: 100;
        width: 40px;
        height: 40px;
        background: transparent;
        cursor: pointer;
        text-align: center;
        border-radius: 35px;
        ion-icon {
            font-size: 25px;
            margin-top: 8px;
            color: color($colors, primary);
        }
    }
    .menu-bt {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        width: 50px;
        height: 50px;
        background: transparent;
        cursor: pointer;
        font-size: 2.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-bt img {
        width: 100%;
        height: auto;
    }
    .bg {
        font-weight: bold;
        width: 100%; // background: url(../assets/imgs/bg3.png) center center no-repeat;
        // background-size: cover;
    }
    .bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        z-index: -1;
    }
    .bg p.title {
        color: black;
        font-size: 2.2rem;
        padding-left: 30px;
        margin: 53px 0 5px 0;
    }
    .bg p.subtitle {
        color: black;
        font-size: 1.2rem;
        padding-left: 30px;
        padding-bottom: 5px;
        margin: 0;
    }
    textarea.text-input {
        height: 80px;
    }
    .list>.item-block:last-child,
    .list>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .text .input-wrapper {
        border: 0.55px solid #c8c7cc !important;
    }
}