<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572716651774-n2j33p3d31auh240dsnq20gnt02iajjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572716651774-n2j33p3d31auh240dsnq20gnt02iajjv</string>
	<key>API_KEY</key>
	<string>AIzaSyBgTJo7sv8leWYJN_uzO4RvVYFsq_TaJ1g</string>
	<key>GCM_SENDER_ID</key>
	<string>572716651774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loop.mybeesbox.apps</string>
	<key>PROJECT_ID</key>
	<string>beesboxapp</string>
	<key>STORAGE_BUCKET</key>
	<string>beesboxapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572716651774:ios:7b0c991ec9f3a7f5</string>
	<key>DATABASE_URL</key>
	<string>https://beesboxapp.firebaseio.com</string>
</dict>
</plist>