page-quiz {
    .slide-zoom {
        text-align: left;
        display: block;
        width: 99%;
    }

    .bg {
        font-weight: bold;
        width: 100%;
        height: 135px;
    }
    .bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .bg p.title {
        color: #FFF;
        font-size: 2.2rem;
        padding-left: 30px;
        margin: 30px 0 5px 0;
    }    

    .bg p.subtitle {
        color: #FFF;
        font-size: 1.2rem;
        padding-left: 30px;
        margin: 0;
    }    
  
    .swiper-container {
        overflow: auto;
    }

    .slide-zoom {
        text-align: left;
        display: block;
        width: 99%;
    }

    .swiper-slide {
        display: block;
    }
    .slide-zoom {
        margin-bottom: 80px;
    }
    .container > button.option {
        border-radius: 5px !important;
        font-weight: bold;
        height: 80px !important;
        -webkit-box-shadow: 0px 3px 0px 0px #397564;
        box-shadow: 0px 3px 0px 0px #397564;
        margin-bottom: 10px !important;
    }
    .container > button img.female {
        width: 1.5rem !important;
        height: auto !important;
        margin-top: 5px !important;
        justify-self: center;
    }
    .container > button img.male {
        width: 1.9rem !important;
        height: auto !important;
        margin-top: 5px !important;
        justify-self: center;
    }
    .container > button img.other {
        width: 1.4rem !important;
        height: auto !important;
        justify-self: center;
    }
    .container > button label {
        line-height: 10px;
        font-size: 17px;
        margin-top: 3px;
    }
    .container .button-inner {
        display: grid;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        text-align: center;
        padding: 6px;
    }

    .grid[no-padding] > .row > .col {
        padding: 0;
    }
    .disclaimer {
        font-size: 1rem;
        margin: 5px 5px;
        text-align: left;
    }

    .list[inset] .item-input, .list[inset] .item-md {
        padding-left: 0;
        padding-right: 0;
    }
    .item, .item-datetime {
        padding-left: 0 !important;
    }
    textarea.text-input {
        height: 80px;
    }

    .item-md h2 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .item-datetime .label-md {
        font-size: 1.8rem;
        color: black;
    }

    ion-icon {
        font-size: 1.6em;
    }
}
